h1 {
    font-family:helvetica;
    text-align: right;
    color: yellow;
}
p {
    text-align: left;
    color: purple;
}

h3 {
    color: yellowgreen;
    font-family: arial;

    text-align: center;
}

body{
    background-color: tomato;
}